@defer (on viewport) {
<comments />
} @placeholder {
<p>Conteúdo futuro</p>
} @loading (minimum 15s) {
<p>Carregando.....</p>
}

<hr />
<app-child (addItemEvent)="addItem($event)" />
<p>🐢 all the way down {{ items.length }}</p>
<hr />

<app-user occupation="Salveeeeeeeeeee" name="Son Goku"></app-user>

<hr />
<button (click)="salve()">Clique Aqui</button>

<section (mouseover)="onMouseOVer()" (mouseout)="onMouseOut()">
  Coloque o mouse aqui!!!!!!!!!!!!!!
  <h1>{{ message }}</h1>
</section>

@for (user of users; track user.id) {
<p>{{ user.name }}</p>
}

<!-- Isso é uma Property Binding 
[src] está recebendo o conteúdo da variavel imageURL
-->
<img [src]="imageURL" alt="photo" width="100px" />

<div [contentEditable]="isEditable">
  Lorem ipsum dolor sit amet consectetur[...]
</div>
